<template>
  <v-container>
    <v-layout text-center wrap>
      <v-form v-model="valid">
        <my-text-field :rules="rules" />
        <v-btn :disabled="!valid" color="primary">Good</v-btn>
      </v-form>
    </v-layout>
  </v-container>
</template>

<script>
import MyTextField from "./MyTextField";

export default {
  name: "HelloWorld",

  components: {
    "my-text-field": MyTextField,
  },

  data: () => ({
    valid: false,
    rules: {
      t1: [v => v === "five" || "give me five"],
      t2: [v => v === "ten" || "give me ten"],
    },
  }),
};
</script>
