<template>
  <v-container>
    <v-text-field :rules="rules.t1" />
    <v-text-field :rules="rules.t2" />
  </v-container>
</template>

<script>
export default {
  name: "MyTextField",

  props: ["rules"],
};
</script>
